USE [master]
GO
/****** Object:  Database [simproduksi]    Script Date: 29/05/2020 20.03.39 ******/
CREATE DATABASE [simproduksi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'simproduksi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\simproduksi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'simproduksi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\simproduksi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [simproduksi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [simproduksi]
GO
/****** Object:  Table [dbo].[pegawai]    Script Date: 29/05/2020 20.03.39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pegawai](
	[id_pegawai] [nchar](6) NOT NULL,
	[username] [varchar](10) NOT NULL,
	[password] [int] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_pegawai] PRIMARY KEY CLUSTERED 
(
	[id_pegawai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pemesanan]    Script Date: 29/05/2020 20.03.39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pemesanan](
	[no_order] [varchar](15) NOT NULL,
	[customer] [varchar](100) NOT NULL,
	[product] [varchar](5) NOT NULL,
	[gsm] [int] NOT NULL,
	[size] [varchar](10) NOT NULL,
 CONSTRAINT [PK_pemesanan] PRIMARY KEY CLUSTERED 
(
	[no_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
